
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-family: adobe arabic, sans-serif;
        border-radius: 10px;
        overflow: hidden;
    }
    th, td {
        padding: 15px;
        text-align: right;
        border: 1px solid #ddd;
        font-size: 14px;
    }
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
    input[type="text"], input[type="date"] {
        width: 95%;
        padding: 8px;
        margin-top: 5px;
        font-size: 14px;
        font-family: adobe arabic, sans-serif;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    select {
        width: 95%;
        padding: 8px;
        margin-top: 5px;
        font-size: 14px;
        font-family: adobe arabic, sans-serif;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
    option {
        font-size: 14px;
        font-family: adobe arabic, sans-serif;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
    /* th:first-child, td:first-child {
        width: 5%;
    }
    th:last-child, td:last-child {
        width: 15%;
    } */
    /* Responsive styling */
    @media screen and (max-width: 768px) {
        table, th, td {
            font-size: 12px;
        }
        th, td {
            padding: 10px;
        }
    }

